#use flox

#source .venv/bin/activate.fish

export LINKHOP_WEBPUSH_VAPID_PUBLIC_KEY="BAFJhbXiHCZFZiSNuIn2dGX82gcfHFNGg_ifEePG8RVwnISZ_wSaBkzolH5F2AnsTF031bCsTrU7LM2WGiby_kQ"
export LINKHOP_WEBPUSH_VAPID_PRIVATE_KEY="oQJq59nVONSFGkP_ctNXq6SzM7eSKR4dZtWAiEL7GJY"
export LINKHOP_WEBPUSH_VAPID_SUBJECT="mailto:admin@example.com"
